
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

a{
  text-decoration: none;
  color: inherit;
  padding: 1rem;
  margin: 1rem;
}

footer{
  background-color: black;
  color: white;
  padding: 1rem;
  text-align: center;
}

main{
  min-height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.row{
display: grid;
grid-template-columns: repeat(4, 1fr);
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.cardTitle{
  min-height: 50px
}